body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background-image: url(background.jpg);
    background-size: auto;
    background-repeat: no-repeat;
}

html {
  min-height: 100%;
}

#title {
  text-align: center;
}

#description {
  text-align: center;
}

.container {
  margin: auto;
  max-width: 40em;
  background: white;
  border-radius: 5px;
  padding: 5px;
  margin-top: 50px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
}

.surveyform {
  display: grid;
  grid-template-columns: [labels] 0.25fr [controls] 1fr;
  grid-auto-flow: row;
  grid-gap: 0.8em 0.5em;
  padding: 1.2em;
}

.fieldset {
  border-style: solid;
  border-color: black;
  border-width: 2px;
}

.surveyform > label,
.surveyform > fieldset {
  grid-column: labels;
  grid-row: auto;
}

.surveyform > input,
.surveyform > select,
.surveyform > textarea {
  grid-column: controls;
  grid-row: auto;
  padding: 0.4em;
  border: 1px;
  border-style: solid;
}

#submit {
  grid-column: span 2;
  grid-row: auto;
}



.surveyform > fieldset,
.surveyform > textarea {
  grid-column: span 2;
}
